:root {
  --ui-breakpoint-xxs: 320px;
  --ui-breakpoint-xs: 480px;
  --ui-breakpoint-sm: 768px;
  --ui-breakpoint-md: 992px;
  --ui-breakpoint-lg: 1200px;
  --ui-breakpoint-xl: 1366px;
  --ui-breakpoint-xxl: 1920px;
}
